body {
  background-color: #fffaf0;
  font-family: "MS PGothic", sans-serif;
  padding: 20px;
}

h1 {
  color: #003366;
  text-align: center;
  border-bottom: 2px solid #ccc;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}

td {
  padding: 10px 20px;
  background-color: #f0f0f0;
  text-align: center;
}

ul {
  text-align: center;
  list-style: none;
  padding: 0;
}
li {
  margin: 10px 0;
}
